:root {
    --primary-color: rgb(255, 157, 82);
    --secondary-color: #333;
    --section-color: #f5f5f5;
    --text-color: #86878b;
    --white-color: #fff;
    --black-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 2rem;
}

p.white-text {
    font-weight: 200;
    opacity: 0.6;
    color: var(--white-color);
}

.btn {
    padding: 10px 26px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.btn.btn--primary:hover {
    opacity: 0.9;
}

.btn.btn--white {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--white-color);
}

.btn.btn--white:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.seperated-line {
    display: block;
    width: 66px;
    margin: 24px 0;
    border-top: 2px solid var(--white-color);
}

.seperated-line.primary {
    border-color: var(--primary-color);
}

html {
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

::placeholder {
    color: #ccc;
}

.brand-text-color {
    color: var(--primary-color)!important;
    font-weight: 300;
}

.brand-background-color {
    background-color: var(--primary-color)!important;
}